@font-face {
font-family: ProximaNova;
src: url(https://web-assets.riskified.com/webfonts/29923C_7_0.ttf);
}
@font-face {
font-family: ProximaNova;
src: url(https://web-assets.riskified.com/webfonts/29923C_8_0.ttf);
font-weight: bold;
}

body {
    margin-top: 0px;
}
.container{
    display: flex;
}

.left-side{
    width: 50%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.right-side{
    width: 50%;
}

.restaurant-info{
    width: 322px;
    margin-top: 85px;
}

h1 {
    font-family: 'Baskerville-SemiBoldItalic';
    font-size: 65px;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 25px;
}

h1.restaurant-title {
    color: #0F1762;
    letter-spacing: -2px;
}

p {
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    color: #0F1762;
}

.address {
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 6px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 4px solid #4C3EFF;
    }


.back-link {
    font-family: 'ProximaNova', sans-serif;
    color: #4C3EFF;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
}

.tags-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 45px;
}
.tag {
    font-family: 'ProximaNova', sans-serif;
    color: #585858;
    font-size: 14px;
    line-height: 20px;
    background-color: #F1F1F1;
    border-radius: 16px;
    padding: 4px 8px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.main-photo-portsaid {
height: 100vh;
background-image: url(../images/food-4.jpg);
background-size: cover;
}

.main-photo-larepubblica {
height: 100vh;
background-image: url(../images/La%20Repubblica.png);
background-size: cover;
}

.main-photo-vong {
height: 100vh;
background-image: url(../images/Vong.jpg);
background-size: cover;
}

.main-photo-zakaim {
height: 100vh;
background-image: url(../images/zakaim.jpg);
background-size: cover;
}

.main-photo-tony-vespa {
height: 100vh;
background-image: url(../images/topy%20vespa%202.png);
background-size: cover;
}

.main-photo-thai {
height: 100vh;
background-image: url(../images/Thai.png);
background-size: cover;
}

.ranking {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 45px;
    align-items: center;
}


.circle {
    background-color: #d8d8d8;
    height: 6px;
    width: 6px;
    border-radius: 4px;
}


.rank-circle {
    background-color: #4C3EFF;
    border: 6px solid #b2b1e8;
    height: 6px;
    width: 6px;
    border-radius: 10px;
}

/*neighbourhood-page*/

.first-fold{
    background-color: #0F1762;
    height: 616px;
}

.area-columns-warp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
    max-width: 1060px;
}

.area-column {
    width: 30%;
    padding-top: 150px;
}

.area-info-row {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
}

.area-info-row img {
    margin-top: 0px;
    margin-right: 10px;
    align-items: flex-start;
}

.n-name {
    color: #fff;
}

.n-p {
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    color: #fff;
}

.second-fold {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1060px;
    margin-top: -198px;
    margin-right: auto;
    margin-left: auto;
}


.thumb-column {
    width: 30%;
    height: 400px;
    margin-bottom: 50px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);

}

.thumb-image {
    width: 100%;
}

.restaurant-thumb {
    background-color: #fff;
    align-items: center;
    margin-top: -4px;
    height: 200px;
}

h2 {
    font-family: 'Baskerville-SemiBoldItalic';
    text-align: center;
    font-size: 46px;
    line-height: 50px;
    padding-top: 30px;
    margin-top: 0px;
    margin-bottom: 10px;    
}

.h2-line {
    background-color: #4C3EFF;
    width: 30px;
    height: 4px;
    margin: auto;
    padding-top: -200px;
}

.tags-wrap-thumb {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    margin-top: 20px;
    margin-left: 39px;
}


.gradient {
    position: relative;
    bottom: 39px;
    width: 100%;
    height: 51px;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
}

/* responsivness */



