
@font-face {
font-family: ProximaNova;
src: url(https://web-assets.riskified.com/webfonts/29923C_7_0.ttf);
}
@font-face {
font-family: ProximaNova;
src: url(https://web-assets.riskified.com/webfonts/29923C_8_0.ttf);
font-weight: bold;
}

body {
    font-family: "ProximaNova";
     color: #0F1762;
   
}

.container{
    display:flex;
    overflow-x: hidden;
    max-width: inherit
}
.left-side {
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    width: 50%;
    
    }
   
.right-side {
    width: 50%;
    }


.restaurant-info {
    width: 322px;
    
     }

.navigation {
    
    display: flex;
    align-items: baseline;
    justify-content: space-between; 
    margin-top:95px; 
    border-bottom: solid 4px #4C3EFF;
    height: 36px;
    }

.left-arrow{
    height: 8px;
    
    
}
    
.back-link {
    font-weight: bold;
    font-size: 14px;
    color: #4C3EFF;
    text-decoration: none;
    
    
}
  
  .back-link:hover {
  color: #70C9BF;
}



.address { 
    font-weight: bold;
    font-size: 14px;
    color: black;


}


h1.restuarent-title {
    font-family:Baskerville SemiBold;
    font-size: 65px;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 28px;
    }

 .restaurant-text{
    font-size: 14px;
    font-family: "ProximaNova";
    font-weight: bold;
    line-height:21px;
     margin-top: 20px;

}

.tag-warp{
    
    display:flex;
    flex-wrap: wrap;
    margin-top: 36px; 
    justify-content:flex-start;
}

.tag{
    margin: 0 10px 10px 0;
    padding: 8px;
    font-size:14px;
    color: #585858;
    border-radius: 16px;
    background-color: #F1F1F1;
    
}


.slider{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.icon_slow.svg{
    
}
.circle {
      margin: 10px 10px 10px 10px;
      height: 6px;
      width: 6px;
      border-radius: 50%; 
      background-color: #F1F1F1;
    }

.highlight {
      margin: 10px 10px 10px 10px;
      height: 6px;
      width: 6px;
      border-radius: 50%; 
      background-color: #0F1762;
      border: 3px solid #A59EFF;
   
     
     
}


.restaurant-photo {
max-height:1000px; 
overflow-x: hidden;
width:auto;
background-size: cover;
}





/* area page*/

.header-bg{
    width: 100%;
    background-color: #0F1762;
}

.header{
    
    display:flex;
    justify-content:space-between;
    align-content: flex-start;
    color: #fff;
    padding: 0px 50px 300px 50px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1060px;  
}


.navigation{
    
}

.back-link{
    margin-top: 15px;
        
}

h1.area-title{
    font-family:Baskerville SemiBold;
    font-size: 65px;
    font-style: italic; 
    
}


.discription{
    width: 30%;
    padding-top: 170px;
    justify-content: center;
    align-items: center;
}


.area-info{
    width: 30%;
    padding-top: 170px;
    
}

.single-info{
    display: flex;
    align-items: baseline;
}



.info-text{
    margin-left: 10px;
    
}

.tumbnail_link{
   display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    max-width: 1060px;
    padding: 0px 50px 0px 50px;
    justify-content: space-around;
    margin: -200px auto 100px auto;
}


.cards-conainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1060px;
    padding: 0px 50px 0px 50px;
    justify-content: space-around;
    margin: -200px auto 100px auto;
   
}

.card{
    width: 30%;
    height: 420px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    margin-bottom: 50px;
    text-decoration: none;
    color: #0F1762
    }

.card:visited {
  color: #0F1762;
}



.tag-card {
  
    width: 100%;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    
}

.restaurant-thumbnail{
    height: 200px;
    width: 100%;
    object-fit: cover;
  
  /*clip-path: inset(0px 120px 100px 120px);*/
}

 h2.card-title {
    font-family:Baskerville SemiBold;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
   
  
} 
.card-line{
    width: 50px;
    height: 4px;
    background-color: #4C3EFF;
    margin: 0 auto;
}

/* responsivness */

@media screen and (max-width: 1024px) {
    .cards-conainer {
        flex-direction: column;
        text-align: center;
        width:1200px;
        margin:  auto;
        align-content: space-between;
       
        }
    
    .card{
        height: 600px;
        margin-bottom: 50px;
       
    }
    
    .restaurant-thumbnail {
      height: 300px;
      width: 100%;
      margin: auto;
    }
    
    .header {
        flex-direction: column;
        margin-bottom: 60px;
        padding-bottom: 200px;
    }
    
   .area-nav, .area-description, .area-info   {
        width: 80%;
        margin-bottom: 10px;
        margin: auto;
       padding-top: 30px;
       padding-bottom: 30px;
    }
    
    .discription {
       width: 80%;
        margin-bottom: 10px;
        margin: auto;
    }

    
    
    
     /* esponsiveness restaurant page */
          
  @media screen and (max-width: 768px){
      .container {
        display: flex;
        flex-direction: column-reverse;
    }
    .left-side {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
    .right-side {
        width: 100%;
        position: relative;
        height: 200px;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .restaurant-photo {
        height: auto;
        width: 100%;
        background-size: cover;
    }
    .restaurant-text {
        width: 322px;
        margin-top: 50px;
    }
     

